.transaction-container{
    flex-direction: row;
    background-color: white;
    margin: 0.4rem;
    padding: 0;
  
    h1{
       font-size: 4vw;
       font-weight: 600;
    }
  
    p{
      font-size: 3.5vw;
    }
  
    .transaction-row1{
      width: 100%;
      height: fit-content;
  
      ion-img{
       
      }
  
      h2{
          margin-top: 5px !important;
          margin-bottom: 5px !important;
      }
  
      p{
        margin-top: 5px !important;
          margin-bottom: 5px !important;
      }
    }
  
    .transaction-row2{
      width: 100%;
      height: fit-content;
    }
  
    ion-button{
      --padding-start: 5vw;
      --padding-end: 5vw;
      --padding-top: 1vh;
      --padding-bottom: 1vh;
      --ripple-color: blue;
      width: 100%;
      height: 6vh;
      font-size: 3vw;
    }
    
  }
  
  .wrapper {
    transition: 0.2s linear;
  } 
  
  .transaction-head-title{
    display: flex;
    width: 100%;
  
    .t-h-t-1{
      width: 60%;
    }
  
    .t-h-t-2{
      width: 30%;
      padding: 10px;
    }
  
    .Home-Header{
      font-size: 4.5vw;
      color: #297BFF;
      font-weight: 600;
    }
    
    .Home-link{
      font-size: 3.5vw;
      color: #0c244b;
      font-weight: 400;
      text-align: right;
    }
  }
  
  
  .active {
    display: block
  }
  
  .inactive {
    display: none;
  }



.ion-padding {
  --padding-bottom: var(--ion-padding, 55px);
}


.head1{
  background-color: #002366 !important;
  color: white;
  font-size: 15px;
}

.head2{
  background-color: #033186 !important;
  color: white;
  font-size: 15px;
}

.head3{
  background-color: #0643b6ec !important;
  color: white;
  font-size: 15px;
}

.head4{
  background-color: #0657ece8 !important;
  color: white;
  font-size: 15px;
}

.head5{
  background-color: #075cfad0 !important;
  color: white;
  font-size: 15px;
}