<!-- <ion-split-pane when="lg" contentId="tabs-container"> -->
  <ion-tabs contentId="tabs-container" >
    <ion-tab-bar slot="bottom" class="hidden-md-up ">
      <ion-tab-button class="ion-color-primary" tab="home">
        <ion-icon name="Home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="history">
        <ion-icon name="reader"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="wallet" >
        <ion-icon name="wallet"></ion-icon>
        <ion-label>Wallet</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon ion name="person-circle"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- <ion-router-outlet id="tabs-container"></ion-router-outlet>
</ion-split-pane>
   -->

