ion-avatar {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: #E3EDFF;
  
    ion-icon {
     font-size: 18pt;
    }
  }

  ion-label h2 {
    font-weight: 500;
  }