

<!-- <ion-split-pane when="(min-width: 768px)" contentId="main-content"> -->
  <ion-menu [hidden]="show" autoHide="false"  class="show-md-up" menu-id="main" class="show-menu" contentId="main-content" type="reveal">
    <ion-content>
      <ion-list id="menu-list">
        <ion-list-header>Inbox</ion-list-header>
        <ion-note>hi@ionicframework.com</ion-note>

        <ion-item autoHide="false" *ngFor="let p of appPages; let i = index">
          <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-item>
      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>

        <!-- <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
<!-- </ion-split-pane> -->

