ion-card {
  border-radius: 6pt;
  box-shadow: none !important;
  --background: #FFFFFF;
  --color: #000000;
  padding: .5rem;
  margin: .5rem;

  ion-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: .5rem;

    ion-text {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      padding: 1rem 0 !important;
    }

    span {
      font-size: 14px;
      color: #000000;
      opacity: 0.5;
    }
  }

  ion-icon {
    font-size: 24pt;
    padding: 1rem 0 !important;
  }
}

@media (max-device-height: 640px),
handheld and (orientation: portrait) {
  ion-card {
    ion-card-content {
      ion-text {
        font-size: 14px;
        line-height: 20px;
        padding: 1rem 0 !important;
      }
    }

    ion-icon {
      font-size: 20pt;
      padding-bottom: .5rem !important;
    }
  }
}