<ion-header class="ion-no-border">
  <ion-toolbar style="color: white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select-role">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="container ">
          <div class="form">
            <!-- <div fxlayout="row" id="header" fxShow fxHide.lg="true" class="title">
              <h2>Raven App</h2> 
            </div> -->
            <!-- <ion-card class="">
              <ion-card-content> -->
                <h3>Create your profile</h3>
                <h2 class="">(Logistic Company)</h2>
                <form #f="ngForm" [formGroup]="addOrgForm" (ngSubmit)="addOrg()">
                  <ion-item [formGroup]="addOrgForm">
                    <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
                    <ion-input type="text" formControlName="orgName" inputmode="text" placeholder="Organization Name" required ></ion-input>
                  </ion-item>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.orgName">
                      <div class="error-message" *ngIf="addOrgForm.get('orgName').hasError(error.type) && 
                        (addOrgForm.get('orgName').dirty || addOrgForm.get('orgName').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-item [formGroup]="addOrgForm">
                    <ion-icon slot="start" name="person-outline"></ion-icon>
                    <ion-input type="text" formControlName="regNumber" inputmode="text" placeholder="Registration number" required ></ion-input>
                  </ion-item>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.regNumber">
                      <div class="error-message" *ngIf="addOrgForm.get('regNumber').hasError(error.type) && 
                        (addOrgForm.get('regNumber').dirty || addOrgForm.get('regNumber').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                  <app-location-picker
                    [showPreview]="addOrgForm.get('gpsAddress').value"
                    (locationPick)="onLocationPicked($event)"
                  ></app-location-picker>
                   <ion-button type="submit"  color="primary" expand="block" [disabled] = "!addOrgForm.valid">
                     <div class="btn-container">
                       <span>Register</span>
                     <ion-icon name="arrow-forward-outline"></ion-icon>
                     </div>
                   </ion-button>
                 </form>
        <!-- </ion-card-content>
          </ion-card> -->
          </div>
  </div>
</ion-content>
          